automation/n8n/ebike-research.workflow.json
{
  "name": "E-Bike OSM-Evidenzrecherche Weserbergland V2 (inactive)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "executionTimeout": 900
  },
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        320
      ],
      "parameters": {}
    },
    {
      "id": "weekly",
      "name": "Weekly Sunday 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        320
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "discovery-query",
      "name": "Build Overpass Discovery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const bbox = {south:51.70, west:8.45, north:52.62, east:10.25};\nconst query = `[out:json][timeout:50];relation[\"route\"~\"^(bicycle|mtb)$\"][\"name\"](${bbox.south},${bbox.west},${bbox.north},${bbox.east});out tags center;`;\nreturn [{json:{run_id:String($execution.id), observed_at:$now.toISO(), bbox, overpass_query:query}}];\n"
      }
    },
    {
      "id": "discover",
      "name": "Discover Named OSM Relations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        440,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://z.overpass-api.de/api/interpreter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "domse-ebike-evidence-v2/2.0 (private research; contact via domse.dev)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.overpass_query }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": false,
              "fullResponse": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "normalize-discovery",
      "name": "Normalize Relation Discovery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $('Build Overpass Discovery').first().json;\nconst input = $input.first().json;\nlet body = input.body ?? input.data ?? input;\nif (typeof body === 'string') { try { body=JSON.parse(body); } catch { body={}; } }\nconst status = Number(input.statusCode ?? 0);\nconst elements = Array.isArray(body.elements) ? body.elements : [];\nconst out=[]; const seen=new Set();\nfunction rank(tags, center) {\n  let score=0;\n  const lat=Number(center?.lat), lon=Number(center?.lon);\n  if(Number.isFinite(lat)&&Number.isFinite(lon)) {\n    if(lat>=51.85&&lat<=52.45&&lon>=8.95&&lon<=10.05) score+=25;\n    if(lat>=52.00&&lat<=52.32&&lon>=9.15&&lon<=9.75) score+=15;\n  }\n  if(String(tags.route).toLowerCase()==='mtb') score+=20;\n  if(/^(?:lcn|rcn|ncn|icn)$/i.test(String(tags.network??''))) score+=10;\n  if(String(tags.distance??'').trim()) score+=10;\n  if(/^(?:yes|true|1)$/i.test(String(tags.roundtrip??''))) score+=10;\n  if(/mtb|mountainbike|rad|bike|runde|weser|deister|süntel|ith|hils/i.test(`${tags.name??''} ${tags.description??''}`)) score+=10;\n  return score;\n}\nfor (const e of elements) {\n  const tags=e.tags ?? {}; const id=Number(e.id); const route=String(tags.route ?? '').toLowerCase();\n  const name=String(tags.name ?? '').trim();\n  if (e.type !== 'relation' || !Number.isSafeInteger(id) || id <= 0 || !name || !['bicycle','mtb'].includes(route) || seen.has(id)) continue;\n  seen.add(id);\n  out.push({json:{...source, relation_id:id, stable_key:`osm_relation_${id}`, route_name:name.slice(0,240), route_tag:route, discovery_tags:tags, discovery_center:e.center??null, discovery_rank_score:rank(tags,e.center), discovery_ok:status>=200&&status<300, discovery_http_status:status}});\n}\nif (!out.length) return [{json:{...source, pipeline_signal:'DISCOVERY_EMPTY_OR_FAILED', discovery_ok:false, discovery_http_status:status}}];\nreturn out.sort((a,b)=>b.json.discovery_rank_score-a.json.discovery_rank_score||a.json.route_name.localeCompare(b.json.route_name,'de')||a.json.relation_id-b.json.relation_id).slice(0,250);\n"
      }
    },
    {
      "id": "discovery-if",
      "name": "Discovery Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "discovery-if-condition",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ Boolean($json.stable_key) }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "geometry-jobs",
      "name": "Build Relation Geometry Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const candidates=$input.all().map(item=>item.json).filter(item=>Number.isSafeInteger(Number(item.relation_id))&&Number(item.relation_id)>0);\nconst out=[];\nfor(let offset=0;offset<candidates.length;offset+=20){\n const batch=candidates.slice(offset,offset+20); const ids=batch.map(item=>Number(item.relation_id));\n out.push({json:{relation_ids:ids,geometry_query:`[out:json][timeout:90];relation(id:${ids.join(',')});out geom;`}});\n}\nreturn out;\n"
      }
    },
    {
      "id": "geometry",
      "name": "Fetch Real Relation Geometry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://z.overpass-api.de/api/interpreter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "domse-ebike-evidence-v2/2.0 (private research; contact via domse.dev)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.geometry_query }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": false,
              "fullResponse": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "gate",
      "name": "Gate Score and Fair Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const candidates=$('Normalize Relation Discovery').all().map(item=>item.json).filter(item=>Number(item.relation_id)>0);\nconst SEARCH={s:51.70,w:8.45,n:52.62,e:10.25};\nconst REGIONS=[\n ['Deister',52.17,9.20,52.45,9.65],['Süntel',52.12,9.25,52.30,9.55],['Ith',51.91,9.43,52.15,9.75],\n ['Solling-Vogler',51.88,9.48,52.02,9.70],\n ['Hils',51.88,9.70,52.12,9.98],['Hameln',52.02,9.20,52.20,9.55],['Emmerthal',51.90,9.25,52.08,9.52],\n ['Hessisch Oldendorf',52.10,9.05,52.27,9.38],['Bad Pyrmont',51.90,8.98,52.05,9.32],\n ['Ottensteiner Hochfläche',51.88,9.25,52.02,9.55],['Coppenbrügge',52.03,9.45,52.17,9.72],\n];\nfunction rad(x){return x*Math.PI/180;} function km(a,b){const dlat=rad(b.lat-a.lat),dlon=rad(b.lon-a.lon); const q=Math.sin(dlat/2)**2+Math.cos(rad(a.lat))*Math.cos(rad(b.lat))*Math.sin(dlon/2)**2; return 12742*Math.asin(Math.sqrt(q));}\nfunction clean(v){return String(v??'').replace(/<[^>]*>/g,' ').replace(/\\s+/g,' ').trim();}\nfunction taggedKm(v){const m=String(v??'').replace(',','.').match(/([0-9]+(?:\\.[0-9]+)?)/); if(!m)return null; const n=Number(m[1]); return /\\bmi\\b/i.test(String(v))?n*1.60934:n;}\nfunction pointsOf(rel){\n const segments=[]; for(const m of rel.members??[]){const s=[];for(const p of m.geometry??[]){const x={lat:Number(p.lat),lon:Number(p.lon)};const prev=s[s.length-1];if(Number.isFinite(x.lat)&&Number.isFinite(x.lon)&&(!prev||prev.lat!==x.lat||prev.lon!==x.lon))s.push(x);}if(s.length>1)segments.push(s);}\n if(!segments.length)return []; const out=segments.shift().slice();\n while(segments.length){const last=out[out.length-1];let best=0,reverse=false,distance=Infinity;for(let i=0;i<segments.length;i++){const a=km(last,segments[i][0]),b=km(last,segments[i][segments[i].length-1]);if(a<distance){best=i;reverse=false;distance=a;}if(b<distance){best=i;reverse=true;distance=b;}}const segment=segments.splice(best,1)[0];if(reverse)segment.reverse();for(const x of segment){const prev=out[out.length-1];if(!prev||prev.lat!==x.lat||prev.lon!==x.lon)out.push(x);}}\n return out;\n}\nconst relations=new Map(),statuses=new Map();\nfor(const item of $input.all()){\n let body=item.json.body??item.json.data??item.json;if(typeof body==='string'){try{body=JSON.parse(body)}catch{body={}}}\n const status=Number(item.json.statusCode??200);\n for(const rel of body.elements??[]){if(rel.type==='relation'&&Number(rel.id)>0){relations.set(Number(rel.id),rel);statuses.set(Number(rel.id),status);}}\n}\nconst accepted=[]; const rejected=[];\nfor(const job of candidates){\n const rel=relations.get(Number(job.relation_id)); const status=statuses.get(Number(job.relation_id))??0; const p=rel?pointsOf(rel):[]; const reasons=[];\n if(!(status>=200&&status<300))reasons.push('GEOMETRY_HTTP'); if(!rel)reasons.push('RELATION_MISSING'); if(p.length<20)reasons.push('TOO_FEW_POINTS');\n if(p.some(x=>x.lat<SEARCH.s||x.lat>SEARCH.n||x.lon<SEARCH.w||x.lon>SEARCH.e))reasons.push('OUTSIDE_SEARCH_BBOX');\n let length=0,maxGap=0; for(let k=1;k<p.length;k++){const gap=km(p[k-1],p[k]);length+=gap;maxGap=Math.max(maxGap,gap);} if(length<5||length>180)reasons.push('DISTANCE_IMPLAUSIBLE'); if(maxGap>2)reasons.push('GEOMETRY_DISCONTINUITY');\n const closure=p.length?km(p[0],p[p.length-1]):999; const closureRatio=length?closure/length:999; if(closure>Math.max(2.5,length*0.12))reasons.push('NOT_PLAUSIBLE_LOOP');\n const lats=p.map(x=>x.lat),lons=p.map(x=>x.lon); const bounds=p.length?{south:Math.min(...lats),west:Math.min(...lons),north:Math.max(...lats),east:Math.max(...lons)}:null;\n const diagonal=bounds?km({lat:bounds.south,lon:bounds.west},{lat:bounds.north,lon:bounds.east}):0; const geometryRatio=diagonal?length/diagonal:0; if(geometryRatio<1.2||geometryRatio>45)reasons.push('GEOMETRY_RATIO_IMPLAUSIBLE');\n const c=p.length?{lat:p.reduce((s,x)=>s+x.lat,0)/p.length,lon:p.reduce((s,x)=>s+x.lon,0)/p.length}:{lat:0,lon:0};\n const tags=rel?.tags??job.discovery_tags??{};\n const namedRegion=/solling|vogler|ebersnacken/i.test(`${tags.name??''} ${tags.description??''}`)?'Solling-Vogler':null;\n const region=namedRegion??REGIONS.find(r=>c.lat>=r[1]&&c.lon>=r[2]&&c.lat<=r[3]&&c.lon<=r[4])?.[0]??'';\n if(!region)reasons.push('OUTSIDE_TARGET_REGIONS');\n const tagDistance=taggedKm(tags.distance); const distanceDelta=tagDistance?Math.abs(length-tagDistance)/tagDistance:null; if(distanceDelta!==null&&distanceDelta>0.35)reasons.push('TAG_DISTANCE_CONFLICT');\n const evidence=[]; let score=0; function add(code,points,why){score+=points;evidence.push({code,points,why});}\n add('named_osm_relation',20,'Benannte OSM-Relation'); add('real_geometry',20,`${p.length} normalisierte Punkte`); add('plausible_distance',15,`${length.toFixed(1)} km`); add('loop_closure',15,`${closure.toFixed(2)} km / ${(closureRatio*100).toFixed(1)} %`); add('region_fit',10,region); if(tagDistance)add('distance_tag_agrees',10,`${tagDistance.toFixed(1)} km`);\n const mtb=String(tags.route??job.route_tag)==='mtb'||/mtb|mountainbike/i.test(`${tags.network??''} ${tags.name??''} ${tags.description??''}`); const bikeType=mtb?'E-MTB':'E-Bike/Trekking'; add(mtb?'mtb_tag_evidence':'bicycle_tag_evidence',10,mtb?'route=mtb/MTB-Tag':'route=bicycle ohne MTB-Evidenz');\n const result={...job,stable_key:`osm_relation_${Number(job.relation_id)}`,route_name:clean(tags.name??job.route_name).slice(0,240),region,bike_type:bikeType,osm_url:`https://www.openstreetmap.org/relation/${Number(job.relation_id)}`,geometry_points:p.length,distance_km:Number(length.toFixed(3)),max_gap_km:Number(maxGap.toFixed(3)),tag_distance_km:tagDistance===null?null:Number(tagDistance.toFixed(3)),closure_km:Number(closure.toFixed(3)),closure_ratio:Number(closureRatio.toFixed(4)),geometry_ratio:Number(geometryRatio.toFixed(3)),bounds,centroid:c,geometry_json:JSON.stringify(p),evidence_score:Math.min(100,score),evidence_json:JSON.stringify(evidence),gate_reasons:reasons.join(','),geometry_http_status:status,partial_failure:status<200||status>=300};\n if(reasons.length)rejected.push(result); else accepted.push(result);\n}\naccepted.sort((a,b)=>b.evidence_score-a.evidence_score||a.relation_id-b.relation_id);\nconst perGroup=new Map(),out=[]; for(const c of accepted){const key=`${c.region}|${c.bike_type}`;const n=perGroup.get(key)??0;if(n>=2)continue;perGroup.set(key,n+1);out.push({json:{...c,gate_rejected_count:rejected.length}});if(out.length>=30)break;}\nif(!out.length)return [{json:{pipeline_signal:'ALL_CANDIDATES_REJECTED',gate_rejected_count:rejected.length,gate_reasons_summary:rejected.map(r=>({relation_id:r.relation_id,reasons:r.gate_reasons})),run_id:candidates[0]?.run_id,observed_at:$now.toISO()}}];\nreturn out;\n"
      }
    },
    {
      "id": "gate-if",
      "name": "Gate Has Accepted Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "gate-if-condition",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ Boolean($json.stable_key) }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "image-jobs",
      "name": "Build Track-near Image Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const out=[];\nfunction rad(x){return x*Math.PI/180;}\nfunction km(a,b){const dlat=rad(b.lat-a.lat),dlon=rad(b.lon-a.lon);const q=Math.sin(dlat/2)**2+Math.cos(rad(a.lat))*Math.cos(rad(b.lat))*Math.sin(dlon/2)**2;return 12742*Math.asin(Math.sqrt(q));}\nfunction anchor(points,fraction,fallback){\n if(points.length<2)return points[0]??fallback;\n const lengths=[];let total=0;\n for(let i=1;i<points.length;i++){const d=km(points[i-1],points[i]);lengths.push(d);total+=d;}\n if(!(total>0))return points[Math.min(points.length-1,Math.floor((points.length-1)*fraction))]??fallback;\n const target=total*fraction;let traversed=0;\n for(let i=1;i<points.length;i++){const segment=lengths[i-1];if(traversed+segment>=target){const t=segment?Math.max(0,Math.min(1,(target-traversed)/segment)):0;return {lat:points[i-1].lat+(points[i].lat-points[i-1].lat)*t,lon:points[i-1].lon+(points[i].lon-points[i-1].lon)*t};}traversed+=segment;}\n return points[points.length-1]??fallback;\n}\nfor(const [i,item] of $input.all().entries()){\n const c=item.json; let p=[]; try{p=JSON.parse(c.geometry_json)}catch{}\n p=p.filter(x=>Number.isFinite(Number(x?.lat))&&Number.isFinite(Number(x?.lon))).map(x=>({lat:Number(x.lat),lon:Number(x.lon)}));\n for(const fraction of [0.2,0.5,0.8]){const point=anchor(p,fraction,c.centroid);out.push({pairedItem:{item:i},json:{...c,image_anchor_lat:point.lat,image_anchor_lon:point.lon,image_anchor_fraction:fraction}});}\n}\nreturn out;\n"
      }
    },
    {
      "id": "commons",
      "name": "Commons Track-near Raster Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2200,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://commons.wikimedia.org/w/api.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "domse-ebike-evidence-v2/2.0 (private research; contact via domse.dev)"
            },
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "generator",
              "value": "geosearch"
            },
            {
              "name": "ggscoord",
              "value": "={{ $json.image_anchor_lat + '|' + $json.image_anchor_lon }}"
            },
            {
              "name": "ggsradius",
              "value": "10000"
            },
            {
              "name": "ggslimit",
              "value": "10"
            },
            {
              "name": "ggsnamespace",
              "value": "6"
            },
            {
              "name": "prop",
              "value": "imageinfo|coordinates"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata|mime|mediatype"
            },
            {
              "name": "iiurlwidth",
              "value": "1600"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": false,
              "fullResponse": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "select-images",
      "name": "Select Licensed Raster Photos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const routes=$('Gate Score and Fair Limit').all();\nconst jobs=$('Build Track-near Image Jobs').all();\nconst byRelation=new Map();\nconst allow=/^(?:cc0(?: 1\\.0)?|public domain|pd|cc by(?:-sa)?(?: [1-4]\\.0)?)$/i;\nconst raster=new Set(['image/jpeg','image/png','image/webp']);\nconst badTitle=/(^|[ _-])(map|karte|wappen|coat[ _-]?of[ _-]?arms|diagram|logo|schild|informationstafel|tafel|luftbild|orthophoto|dop20|scan|kriegsgräber(?:stätte)?|friedhof|cemetery|grab)([ _.-]|$)/i;\nconst stop=new Set(['rund','ueber','über','unter','durch','tour','route','radroute','naturpark','basisring','alte','bahnlinie','the','und','der','die','das','den','von','zum','zur']);\nfunction plain(v){return String(v??'').replace(/<[^>]*>/g,' ').replace(/&nbsp;/g,' ').replace(/\\s+/g,' ').trim();}\nfunction fold(v){return plain(v).toLocaleLowerCase('de').normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/[^a-z0-9äöüß]+/g,' ');}\nfunction tokens(v){return [...new Set(fold(v).split(/\\s+/).filter(t=>t.length>=4&&!stop.has(t)))];}\nfunction rad(x){return x*Math.PI/180;}\nfunction km(a,b){const q=Math.sin(rad(b.lat-a.lat)/2)**2+Math.cos(rad(a.lat))*Math.cos(rad(b.lat))*Math.sin(rad(b.lon-a.lon)/2)**2;return 12742*Math.asin(Math.sqrt(q));}\nfor(const [i,item] of $input.all().entries()){\n const pair=Array.isArray(item.pairedItem)?item.pairedItem[0]:item.pairedItem;\n const job=jobs[pair?.item??i]?.json??{};\n let body=item.json.body??item.json.data??item.json;\n if(typeof body==='string'){try{body=JSON.parse(body)}catch{body={}}}\n const routeTokens=tokens(`${job.route_name??''} ${job.region??''}`);\n for(const page of Object.values(body?.query?.pages??{})){\n  const info=page.imageinfo?.[0],ext=info?.extmetadata??{},mime=String(info?.mime??'').toLowerCase(),title=String(page.title??''),license=plain(ext.LicenseShortName?.value),coord=page.coordinates?.[0];\n  if(!info||info.mediatype!=='BITMAP'||!raster.has(mime)||!allow.test(license)||badTitle.test(title)||/\\.(svg|pdf|wav|ogg|tiff?)$/i.test(title)||!coord)continue;\n  const distance=km({lat:job.image_anchor_lat,lon:job.image_anchor_lon},{lat:Number(coord.lat),lon:Number(coord.lon)});\n  if(distance>12)continue;\n  const creator=plain(ext.Artist?.value).slice(0,300),licenseUrl=String(ext.LicenseUrl?.value??'').trim(),thumbUrl=String(info.thumburl??'').trim(),pageUrl=String(info.descriptionurl??'').trim();\n  if(/^cc by/i.test(license)&&(!creator||!licenseUrl||!thumbUrl||!pageUrl))continue;\n  if(!thumbUrl||!pageUrl)continue;\n  const searchable=fold(`${title} ${ext.ImageDescription?.value??''} ${ext.Categories?.value??''}`);\n  const tokenMatches=routeTokens.filter(token=>searchable.includes(token)).length;\n  const scenicMatches=(searchable.match(/wald|forest|berg|aussicht|panorama|weser|fluss|tal|weg|trail|landschaft|nature|natur/g)||[]).length;\n  const relevanceScore=tokenMatches*30+Math.min(15,scenicMatches*3)-Math.min(12,distance);\n  const candidate={image_title:title,image_thumb_url:thumbUrl,image_creator:creator,image_license:license,image_license_url:licenseUrl,image_page_url:pageUrl,image_distance_km:Number(distance.toFixed(3)),image_mime:mime,image_anchor_fraction:Number(job.image_anchor_fraction??0.5),image_relevance_score:Number(relevanceScore.toFixed(2)),image_token_matches:tokenMatches};\n  const key=Number(job.relation_id),list=byRelation.get(key)??[];list.push(candidate);byRelation.set(key,list);\n }\n}\nreturn routes.map((item,i)=>{\n const route=item.json,all=byRelation.get(Number(route.relation_id))??[],chosen=[],seen=new Set();\n for(const fraction of [0.2,0.5,0.8]){\n  const best=all.filter(image=>Math.abs(image.image_anchor_fraction-fraction)<0.01&&!seen.has(image.image_page_url)).sort((a,b)=>b.image_relevance_score-a.image_relevance_score||a.image_distance_km-b.image_distance_km)[0];\n  if(best){chosen.push(best);seen.add(best.image_page_url);}\n }\n for(const image of all.sort((a,b)=>b.image_relevance_score-a.image_relevance_score||a.image_distance_km-b.image_distance_km)){\n  if(!seen.has(image.image_page_url)){chosen.push(image);seen.add(image.image_page_url);}if(chosen.length===3)break;\n }\n chosen.sort((a,b)=>b.image_relevance_score-a.image_relevance_score||a.image_distance_km-b.image_distance_km);\n const unique=chosen.slice(0,3),best=unique[0]??{};\n return {pairedItem:{item:i},json:{...route,...best,image_candidates_json:JSON.stringify(unique),image_candidate_count:unique.length,image_found:unique.length>0,image_partial_failure:unique.length===0,observed_at:$now.toISO()}};\n});\n"
      }
    },
    {
      "id": "rows",
      "name": "Build Machine Evidence Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all().map(({json:c})=>({json:{stable_key:c.stable_key,osm_relation_id:String(c.relation_id),route_name:c.route_name,region:c.region,bike_type:c.bike_type,osm_url:c.osm_url,geometry_json:c.geometry_json,geometry_points:c.geometry_points,distance_km:c.distance_km,max_gap_km:c.max_gap_km,tag_distance_km:c.tag_distance_km,closure_km:c.closure_km,closure_ratio:c.closure_ratio,geometry_ratio:c.geometry_ratio,bounds_json:JSON.stringify(c.bounds),evidence_score:c.evidence_score,evidence_json:c.evidence_json,gate_reasons:c.gate_reasons,image_title:c.image_title??'',image_thumb_url:c.image_thumb_url??'',image_creator:c.image_creator??'',image_license:c.image_license??'',image_license_url:c.image_license_url??'',image_page_url:c.image_page_url??'',image_distance_km:c.image_distance_km??null,image_candidates_json:c.image_candidates_json,partial_failure:Boolean(c.partial_failure||c.image_partial_failure),http_status_json:JSON.stringify({discovery:c.discovery_http_status,geometry:c.geometry_http_status}),observed_at:c.observed_at,run_id:c.run_id}}));\n"
      }
    },
    {
      "id": "upsert",
      "name": "Upsert Machine Evidence V2",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2860,
        320
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "mode": "name",
          "value": "ebike_route_evidence_v2"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "stable_key",
              "condition": "eq",
              "keyValue": "={{ $json.stable_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stable_key": "={{ $json.stable_key }}",
            "osm_relation_id": "={{ $json.osm_relation_id }}",
            "route_name": "={{ $json.route_name }}",
            "region": "={{ $json.region }}",
            "bike_type": "={{ $json.bike_type }}",
            "osm_url": "={{ $json.osm_url }}",
            "geometry_json": "={{ $json.geometry_json }}",
            "geometry_points": "={{ $json.geometry_points }}",
            "distance_km": "={{ $json.distance_km }}",
            "max_gap_km": "={{ $json.max_gap_km }}",
            "tag_distance_km": "={{ $json.tag_distance_km }}",
            "closure_km": "={{ $json.closure_km }}",
            "closure_ratio": "={{ $json.closure_ratio }}",
            "geometry_ratio": "={{ $json.geometry_ratio }}",
            "bounds_json": "={{ $json.bounds_json }}",
            "evidence_score": "={{ $json.evidence_score }}",
            "evidence_json": "={{ $json.evidence_json }}",
            "gate_reasons": "={{ $json.gate_reasons }}",
            "image_title": "={{ $json.image_title }}",
            "image_thumb_url": "={{ $json.image_thumb_url }}",
            "image_creator": "={{ $json.image_creator }}",
            "image_license": "={{ $json.image_license }}",
            "image_license_url": "={{ $json.image_license_url }}",
            "image_page_url": "={{ $json.image_page_url }}",
            "image_distance_km": "={{ $json.image_distance_km }}",
            "image_candidates_json": "={{ $json.image_candidates_json }}",
            "partial_failure": "={{ $json.partial_failure }}",
            "http_status_json": "={{ $json.http_status_json }}",
            "observed_at": "={{ $json.observed_at }}",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "summary",
      "name": "Final Quality Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input=$input.all().map(i=>i.json);const signals=input.filter(r=>r.pipeline_signal);const rows=input.filter(r=>!r.pipeline_signal&&r.stable_key);const byRegion={},byBike={};let images=0,partial=0,points=0,distance=0,score=0;\nfor(const r of rows){byRegion[r.region]=(byRegion[r.region]??0)+1;byBike[r.bike_type]=(byBike[r.bike_type]??0)+1;images+=r.image_page_url?1:0;partial+=r.partial_failure?1:0;points+=Number(r.geometry_points||0);distance+=Number(r.distance_km||0);score+=Number(r.evidence_score||0);}\nlet gateRejected=Number(signals.find(s=>s.pipeline_signal==='ALL_CANDIDATES_REJECTED')?.gate_rejected_count??0);try{const gate=$('Gate Score and Fair Limit').all();gateRejected=Math.max(gateRejected,...gate.map(i=>Number(i.json.gate_rejected_count||0)));}catch{}\nconst noData=rows.length===0;return [{json:{status:noData?'no_data':partial?'partial':'ok',pipeline_signals:signals.map(s=>s.pipeline_signal),publish_performed:false,target:'Data Table: ebike_route_evidence_v2',accepted_and_upserted:rows.length,rejected_by_hard_gates:gateRejected,with_licensed_track_near_image:images,partial_failure_rows:partial,total_geometry_points:points,total_distance_km:Number(distance.toFixed(1)),average_evidence_score:rows.length?Number((score/rows.length).toFixed(1)):0,by_region:byRegion,by_bike_type:byBike,finished_at:$now.toISO(),message:'Nur maschinelle Evidenz; Review bleibt in separater Tabelle, kein Publishing.'}}];\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Overpass Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Sunday 07:00": {
      "main": [
        [
          {
            "node": "Build Overpass Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Overpass Discovery": {
      "main": [
        [
          {
            "node": "Discover Named OSM Relations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover Named OSM Relations": {
      "main": [
        [
          {
            "node": "Normalize Relation Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Relation Discovery": {
      "main": [
        [
          {
            "node": "Discovery Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discovery Has Candidates": {
      "main": [
        [
          {
            "node": "Build Relation Geometry Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Quality Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Relation Geometry Jobs": {
      "main": [
        [
          {
            "node": "Fetch Real Relation Geometry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Real Relation Geometry": {
      "main": [
        [
          {
            "node": "Gate Score and Fair Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Score and Fair Limit": {
      "main": [
        [
          {
            "node": "Gate Has Accepted Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Has Accepted Candidates": {
      "main": [
        [
          {
            "node": "Build Track-near Image Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Quality Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Track-near Image Jobs": {
      "main": [
        [
          {
            "node": "Commons Track-near Raster Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commons Track-near Raster Search": {
      "main": [
        [
          {
            "node": "Select Licensed Raster Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Licensed Raster Photos": {
      "main": [
        [
          {
            "node": "Build Machine Evidence Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Machine Evidence Rows": {
      "main": [
        [
          {
            "node": "Upsert Machine Evidence V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Machine Evidence V2": {
      "main": [
        [
          {
            "node": "Final Quality Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
