automation/n8n/ebike-research.workflow.json
{
  "name": "E-Bike Routenrecherche · Hameln & Umgebung (inactive)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true
  },
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "parameters": {}
    },
    {
      "id": "weekly",
      "name": "Weekly Sunday 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        420
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "jobs",
      "name": "Create Search Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const regions = [\n  ['Hameln','Hameln'], ['Weserbergland','Weserbergland'], ['Süntel','Süntel'],\n  ['Deister','Deister'], ['Ith','Ith'], ['Hils','Hils'],\n  ['Ottensteiner Hochfläche','Ottensteiner Hochfläche'], ['Emmerthal','Emmerthal'],\n  ['Hessisch Oldendorf','Hessisch Oldendorf'], ['Bad Pyrmont','Bad Pyrmont'],\n  ['Coppenbrügge','Coppenbrügge']\n];\nconst patterns = [\n  {bikeType:'E-MTB', suffix:'E-MTB Tour Mountainbike Strecke GPX'},\n  {bikeType:'E-Bike', suffix:'E-Bike Radtour Rundtour Strecke GPX'}\n];\nconst runId = $execution.id;\nconst createdAt = $now.toISO();\nconst jobs = [];\nfor (const [region, place] of regions) {\n  for (const pattern of patterns) {\n    jobs.push({json:{runId, createdAt, region, bikeType:pattern.bikeType,\n      query:`${place} ${pattern.suffix}`,\n      searxngBaseUrl:'http://searxng.internal:8080'}});\n  }\n}\nreturn jobs;"
      }
    },
    {
      "id": "searx",
      "name": "Search SearXNG Routes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.searxngBaseUrl + '/search' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "de-DE"
            },
            {
              "name": "safesearch",
              "value": "1"
            },
            {
              "name": "categories",
              "value": "general"
            },
            {
              "name": "engines",
              "value": "bing"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "normalize",
      "name": "Normalize SearXNG Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const out = [];\nconst blockedHosts = ['facebook.com','instagram.com','pinterest.','youtube.com','amazon.'];\nconst routeHints = /(tour|route|rund|strecke|trail|radweg|gpx|komoot|outdooractive|bikemap|mountainbike|fahrrad)/i;\nfunction parseHttpUrl(raw) {\n  const value = String(raw ?? '').trim();\n  const prefix = value.toLowerCase().startsWith('https://') ? 'https://' : (value.toLowerCase().startsWith('http://') ? 'http://' : null);\n  if (!prefix) return null;\n  const withoutScheme = value.slice(prefix.length);\n  const boundary = withoutScheme.search(/[/?#]/);\n  const rawHostname = boundary < 0 ? withoutScheme : withoutScheme.slice(0, boundary);\n  const rawRemainder = boundary < 0 ? '' : withoutScheme.slice(boundary);\n  if (!rawHostname || rawHostname.includes('@')) return null;\n  const protocol = prefix.slice(0, -3);\n  const hostname = rawHostname.toLowerCase().replace(/\\.$/, '');\n  let remainder = rawRemainder.split('#', 1)[0] || '/';\n  const queryAt = remainder.indexOf('?');\n  let path = queryAt >= 0 ? remainder.slice(0, queryAt) : remainder;\n  const rawQuery = queryAt >= 0 ? remainder.slice(queryAt + 1) : '';\n  path = (path || '/').replace(/\\/$/, '') || '/';\n  const query = rawQuery.split('&').filter(Boolean).filter(part => {\n    const key = part.split('=', 1)[0];\n    return !/^(utm_[^=]*|fbclid|gclid|ref|source)$/i.test(key);\n  }).join('&');\n  return {url:`${protocol}://${hostname}${path}${query ? `?${query}` : ''}`, hostname:hostname.replace(/^www\\./,'')};\n}\nfunction plain(value) {\n  return String(value ?? '').replace(/<[^>]*>/g,' ').replace(/\\s+/g,' ').trim();\n}\nconst jobs = $('Create Search Jobs').all();\nfor (const [inputIndex,item] of $input.all().entries()) {\n  const pair = Array.isArray(item.pairedItem) ? item.pairedItem[0] : item.pairedItem;\n  const job = jobs[pair?.item ?? inputIndex]?.json;\n  const response = item.json.body ?? item.json;\n  const results = Array.isArray(response.results) ? response.results : [];\n  for (const hit of results.slice(0, 12)) {\n    const parsedUrl = parseHttpUrl(hit.url);\n    const title = plain(hit.title);\n    const description = plain(hit.content ?? hit.description).slice(0, 700);\n    if (!parsedUrl || !title || blockedHosts.some(h => parsedUrl.hostname.includes(h))) continue;\n    if (!routeHints.test(`${title} ${description} ${parsedUrl.url}`)) continue;\n    out.push({pairedItem:{item:inputIndex},json:{run_id:job.runId, discovered_at:job.createdAt,\n      region:job.region, bike_type:job.bikeType, search_query:job.query,\n      route_name:title.slice(0,240), description, source_url:parsedUrl.url,\n      source_host:parsedUrl.hostname,\n      searx_score:Number(hit.score ?? 0), engines:(hit.engines ?? []).join(',')}});\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "dedupe",
      "name": "Dedupe and Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function norm(value) { return String(value ?? '').normalize('NFKD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/[^a-z0-9]+/g,' ').trim(); }\nfunction fnv1a(value) {\n  let h = 0x811c9dc5;\n  for (let i=0; i<value.length; i++) { h ^= value.charCodeAt(i); h = Math.imul(h,0x01000193) >>> 0; }\n  return h.toString(16).padStart(8,'0');\n}\nconst seenUrl = new Set(), seenNameRegion = new Set(), out=[];\nfor (const [inputIndex,item] of $input.all().entries()) {\n  const c=item.json;\n  const urlKey=norm(c.source_url), nameRegion=`${norm(c.route_name)}|${norm(c.region)}`;\n  if (seenUrl.has(urlKey) || seenNameRegion.has(nameRegion)) continue;\n  seenUrl.add(urlKey); seenNameRegion.add(nameRegion);\n  const text=norm(`${c.route_name} ${c.description}`);\n  let score=30;\n  if (/gpx|track|strecke/.test(text)) score+=18;\n  if (/rundtour|rundweg|rundkurs/.test(text)) score+=10;\n  if (/e bike|ebike|e mtb|emtb|pedelec/.test(text)) score+=14;\n  if (text.includes(norm(c.region))) score+=12;\n  if (/km|kilometer|hohenmeter|hm/.test(text)) score+=8;\n  if (/komoot|outdooractive|bikemap|weserbergland/.test(c.source_host)) score+=5;\n  if (c.description.length < 40) score-=8;\n  score=Math.max(0,Math.min(100,score));\n  const stableMaterial=`${urlKey}|${nameRegion}`;\n  out.push({pairedItem:{item:inputIndex},json:{...c, stable_key:`route_${fnv1a(stableMaterial)}`, name_region_key:fnv1a(nameRegion), score,\n    review_status:'offen', image_search_query:`${c.route_name} ${c.region} Landschaft`}});\n}\nreturn out.sort((a,b)=>b.json.score-a.json.score || a.json.stable_key.localeCompare(b.json.stable_key)).slice(0,40);"
      }
    },
    {
      "id": "image-jobs",
      "name": "Build Region Image Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const seen=new Set(); const out=[];\nfor (const [inputIndex,item] of $input.all().entries()) {\n  const region=String(item.json.region ?? '').trim();\n  if (!region || seen.has(region)) continue;\n  seen.add(region);\n  out.push({pairedItem:{item:inputIndex},json:{region,image_search_query:`${region} Niedersachsen`}});\n}\nreturn out.slice(0,12);"
      }
    },
    {
      "id": "commons",
      "name": "Search Wikimedia Commons Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://commons.wikimedia.org/w/api.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PrivateEbikeResearch/1.0 (n8n; personal route research)"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "generator",
              "value": "search"
            },
            {
              "name": "gsrnamespace",
              "value": "6"
            },
            {
              "name": "gsrlimit",
              "value": "1"
            },
            {
              "name": "gsrsearch",
              "value": "={{ $json.image_search_query }}"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata"
            },
            {
              "name": "iiurlwidth",
              "value": "1200"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "media",
      "name": "Attach Best Commons Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const candidates=$('Dedupe and Score').all(); const jobs=$('Build Region Image Jobs').all(); const images=new Map();\nfor (const [inputIndex,item] of $input.all().entries()) {\n  const pair = Array.isArray(item.pairedItem) ? item.pairedItem[0] : item.pairedItem;\n  const job=jobs[pair?.item ?? inputIndex]?.json;\n  let body=item.json.body ?? item.json.data ?? item.json;\n  if (typeof body === 'string') {\n    try { body=JSON.parse(body); } catch { body={}; }\n  }\n  const pages=Object.values(body?.query?.pages ?? {}).filter(p=>p.imageinfo?.length);\n  pages.sort((a,b)=>(a.index??999)-(b.index??999));\n  const page=pages[0]; const info=page?.imageinfo?.[0]; const ext=info?.extmetadata ?? {};\n  images.set(job?.region,{image_title:page?.title ?? '', image_thumb_url:info?.thumburl ?? '', image_page_url:info?.descriptionurl ?? '',\n    image_artist:String(ext.Artist?.value ?? '').replace(/<[^>]*>/g,' ').replace(/\\s+/g,' ').trim().slice(0,240),\n    image_license:ext.LicenseShortName?.value ?? '', image_license_url:ext.LicenseUrl?.value ?? '', image_found:Boolean(info?.thumburl)});\n}\nreturn candidates.map((item,inputIndex)=>{\n  const candidate=item.json; const image=images.get(candidate.region) ?? {};\n  return {pairedItem:{item:inputIndex},json:{...candidate,\n    image_title:image.image_title ?? '', image_thumb_url:image.image_thumb_url ?? '', image_page_url:image.image_page_url ?? '',\n    image_artist:image.image_artist ?? '', image_license:image.image_license ?? '', image_license_url:image.image_license_url ?? '',\n    image_found:Boolean(image.image_found), updated_at:$now.toISO()}};\n});"
      }
    },
    {
      "id": "rows",
      "name": "Build Review Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all().map(({json:c})=>({json:{\n  stable_key:c.stable_key, name_region_key:c.name_region_key, route_name:c.route_name,\n  region:c.region, bike_type:c.bike_type, description:c.description, source_url:c.source_url,\n  source_host:c.source_host, score:c.score, review_status:c.review_status,\n  image_title:c.image_title, image_thumb_url:c.image_thumb_url, image_page_url:c.image_page_url,\n  image_artist:c.image_artist, image_license:c.image_license, image_license_url:c.image_license_url,\n  search_query:c.search_query, discovered_at:c.discovered_at, updated_at:c.updated_at,\n  run_id:c.run_id\n}}));"
      }
    },
    {
      "id": "upsert",
      "name": "Upsert Review Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1960,
        320
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "mode": "name",
          "value": "ebike_route_research"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "stable_key",
              "condition": "eq",
              "keyValue": "={{ $json.stable_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stable_key": "={{ $json.stable_key }}",
            "name_region_key": "={{ $json.name_region_key }}",
            "route_name": "={{ $json.route_name }}",
            "region": "={{ $json.region }}",
            "bike_type": "={{ $json.bike_type }}",
            "description": "={{ $json.description }}",
            "source_url": "={{ $json.source_url }}",
            "source_host": "={{ $json.source_host }}",
            "score": "={{ $json.score }}",
            "review_status": "={{ $json.review_status }}",
            "image_title": "={{ $json.image_title }}",
            "image_thumb_url": "={{ $json.image_thumb_url }}",
            "image_page_url": "={{ $json.image_page_url }}",
            "image_artist": "={{ $json.image_artist }}",
            "image_license": "={{ $json.image_license }}",
            "image_license_url": "={{ $json.image_license_url }}",
            "search_query": "={{ $json.search_query }}",
            "discovered_at": "={{ $json.discovered_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "summary",
      "name": "Final Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rows=$input.all().map(i=>i.json);\nconst byRegion={}; let withImage=0; let scoreSum=0;\nfor (const r of rows) { byRegion[r.region]=(byRegion[r.region]??0)+1; withImage+=r.image_thumb_url?1:0; scoreSum+=Number(r.score??0); }\nreturn [{json:{status:'ok', publish_performed:false, target:'Data Table: ebike_route_research',\n  persisted_or_updated:rows.length, images_found:withImage,\n  average_score:rows.length?Math.round(scoreSum/rows.length):0,\n  regions:byRegion, finished_at:$now.toISO(), message:'Recherche gespeichert; ausschließlich manuelle Prüfung, keine Website-Veröffentlichung.'}}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Create Search Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Sunday 07:00": {
      "main": [
        [
          {
            "node": "Create Search Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Search Jobs": {
      "main": [
        [
          {
            "node": "Search SearXNG Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SearXNG Routes": {
      "main": [
        [
          {
            "node": "Normalize SearXNG Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize SearXNG Results": {
      "main": [
        [
          {
            "node": "Dedupe and Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe and Score": {
      "main": [
        [
          {
            "node": "Build Region Image Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Region Image Jobs": {
      "main": [
        [
          {
            "node": "Search Wikimedia Commons Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Wikimedia Commons Images": {
      "main": [
        [
          {
            "node": "Attach Best Commons Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Best Commons Image": {
      "main": [
        [
          {
            "node": "Build Review Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Rows": {
      "main": [
        [
          {
            "node": "Upsert Review Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Review Data Table": {
      "main": [
        [
          {
            "node": "Final Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
